/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: "PressStart2P";
  font-display: swap;
  src: url(./PressStart2P-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Variable";
  font-display: swap;
  font-weight: 400 785;
  src: local("Inter-Variable"),
    url(./Inter-Variable.woff2) format("woff2 supports variations"),
    url(./Inter-Variable.woff2) format("woff2-variations");
}
