/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: "wght" var(--font-weight-main), 410;
  font-size: 18px;
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--bg-image);
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  inline-size: var(--page-width);
  block-size: clamp(20.4375rem, 19.67rem + 3.84vw, 23.125rem);
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border: 2px solid #000000;
  margin-top: 98px;
}

.header_title {
  font-family: var(--font-accent);
  font-size: clamp(3.063rem, 1.909rem + 4.92vw, 4.063rem);
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

.header_description {
  font-family: var(--font-accent);
  font-size: clamp(0.875rem, 0.226rem + 2.77vw, 1.438rem);
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 98px;
  gap: 50px;
  /* margin-block-end: 50px; */
}

.card {
  inline-size: var(--page-width);
  background-color: var(--bg-color);
  border: 2px solid #000000;
}

.card_title {
  padding: 3.5px 10px;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--card-title-font-weight);
  color: var(--color-main-text);
  /* border-bottom: 2px solid #000000; */
}

.card_decor {
  position: relative;
  border-block: 2px solid #000000;
}

.card_label {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 5;
  text-shadow: -1px 0 var(--color-text-stroke), 0 1px var(--color-text-stroke),
    1px 0 var(--color-text-stroke), 0 -1px var(--color-text-stroke);
}

@supports (-webkit-text-stroke: 1px) {
  .card_label {
    -webkit-text-stroke: 1px var(--color-text-stroke);
    text-shadow: none;
  }
}

.card_image {
  display: flex;
  background-position: center;
  width: 100%;
  max-block-size: 700px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.filter_contrast {
  filter: contrast(2);
}

.filter_hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter_blur {
  filter: blur(3px);
}

.filter_invert {
  filter: invert(100%);
}

.filter_saturate {
  filter: saturate(180%);
}

.filter_brightness {
  filter: brightness(50%);
}

.filter_grayscale {
  filter: grayscale(85%);
}

.filter_mix {
  filter: saturate(280%) blur(2px);
}

.card_text {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 25px;
  padding: 25px 26px 0 25px; /*позже попробовать медиа 375 для ширины текста*/
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 21px;
  /* border-top: 2px solid #000000; */
}

.card_buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  padding: 25px 25px 25px 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 2px solid #000000;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  /* padding: 0; */
}

.button:hover {
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible:not(.card__icon-button) {
  box-shadow: 2px 2px 0px 0px #000000;
  outline: none;
}

.card__icon-button {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  /* border: 2px solid transparent; */
  padding: 0;
  border: none;
}

.card__icon-button::before {
  content: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000000;
}

.card__like-button {
  min-block-size: 38px;
  min-inline-size: 130px;
}
.button__text {
  position: relative;
  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  z-index: 5;
  color: #ffffff;
  mix-blend-mode: difference;
}

.dialog_btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_save {
  padding-inline: 20px;
  min-block-size: 55px;
  gap: 8px;
  justify-items: center;
  align-self: center;
}

.diskette {
  width: 21px;
  color: #ffffff;
  mix-blend-mode: difference;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  max-inline-size: 353px;
  position: fixed;
}

.dialog[open] .diskette {
  width: 39px;
}

.dialog_content {
  display: grid;
  gap: 20px;
  align-items: center;
  grid-template-columns: auto 1fr;
  padding-right: 20px;
}

.dialog_content .button__text {
  line-height: 150%;
  text-transform: uppercase;
}

.button_dialog {
  padding-block: 12.5px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 376px) {
  .card_title {
    padding: 4px 10px;
  }
}
